Lets begin with scraping the wikipedia  table, you can simply use pandas to read the table into a pandas dataframe. You have to start with the importing the dependencies .

In [2]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

usage: conda-script.py [-h] [-V] command ...
conda-script.py: error: unrecognized arguments: # uncomment this line if you haven't completed the Foursquare API lab

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

I have used read_html() to retrive the table

In [3]:

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df=pd.read_html(url,header=0)[0]

In [4]:
print(df)

    Postal Code           Borough  \
0           M1A      Not assigned
1           M2A      Not assigned
2           M3A        North York
3           M4A        North York
4           M5A  Downtown Toronto
..          ...               ...
175         M5Z      Not assigned
176         M6Z      Not assigned
177         M7Z      Not assigned
178         M8Z         Etobicoke
179         M9Z      Not assigned

                                         Neighbourhood
0                                         Not assigned
1                                         Not assigned
2                                            Parkwoods
3                                     Victoria Village
4                            Regent Park, Harbourfront
..                                                 ...
175                                       Not assigned
176                                       Not assigned
177                                       Not assigned
178  Mimico NW, The Queensway West, South of Bloor,...
179                                       Not assigned

[180 rows x 3 columns]

Now processing the cells that have an assigned borough and Ignoring cells with a borough that is 'Not assigned'.

In [6]:
new_df=df[~df.Borough.str.contains("Not assigned")]
new_df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

The above resulted dataframe is cleaned one.The two rows has combined into one row with the neighborhoods separated with a comma.Examples like row 5 and 6 in the above dataframe. Now I will be using the shape method to print the number of rows of the dataframe new_df. In this case it is 103 rows and 3 columns.

In [7]:
new_df.shape

(103, 3)

We will rename the column Postal Code to Postal_code by using rename().

In [69]:
new_df.rename(columns={'Postal Code':'Postal_code'},inplace=True)

C:\Users\nites\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

The second part of the assignment is : To create a new dataframe that has extra columns --latitude and longitude - giving the exact information of the neighborhood

Reading the Geospatial data for the next steps :

In [61]:
geo_df=pd.read_csv('http://cocl.us/Geospatial_data')

In [62]:
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Renaming the column Postal Code to Postal code by using the rename() in the dataframe geo_df

In [76]:
geo_df.rename(columns={'Postal Code':'Postal_code'},inplace=True)

In [77]:
geo_df.head()

  Postal_code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# Merging the two tables using the common column 'Postal code'

In [78]:
geo_merge= pd.merge(pd.DataFrame(new_df), pd.DataFrame(geo_df), left_on=['Postal_code'],right_on=['Postal_code'],how='left')

In [79]:
geo_merge.head()

,Postal_code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494